 .cart-icon {
    position: relative;
    display: inline-block;
    margin-right: 20px; /* Espacio entre el ícono y otros elementos del encabezado */
    cursor: pointer;
  }
 .cart-icon i {
    font-size: 36px; /* Tamaño del ícono */
    color: white;
  }
 .cart-icon .cart-count {
    display: block;
    position: absolute;
    top: -5px; /* Ajusta la posición vertical de la bolita roja */
    right: -5px; /* Ajusta la posición horizontal de la bolita roja */
    background-color: red;
    color: white;
    border-radius: 50%; /* Para dar forma circular a la bolita */
    padding: 5px 10px;
    font-size: 12px;
  }
 .cart-icon:hover i {
    color: blue;
}